<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>


<h1>hello</h1>
<p>world</p>
<p> this is a templet test <strong th:text="${data}">data</strong></p>
<br></br>

<p>username: <strong th:inline="text">[[${#httpServletRequest.remoteUser}]]</strong></p>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<img th:src="@{/img/img.jpg}" style="height:50px; width:100px"></img>
<br></br>

<button id="doLogout" onClick="doLogout();">doLogout</button>

<h2>----list-----</h2>
<ul>

    <li th:each="item : ${list}" th:text="${item.col1}">
    </li>

</ul>

<script type="text/javascript">

function doLogout(){
	alert('logging out');
}


</script>

</body>
</html>
